header {
    background-color: black;


    
}
.menu {
background-color: rgb(241, 235, 239);



}
.test2 {
    background-color: black;



}
.IMG1 {



    background-color:antiquewhite;
}
.image-text-container1 {
    background-color: aliceblue;



    
}
.image-text-container2 {
    background-color: aliceblue;



}
.image-text-container3{
    background-color: aliceblue;



}
.image-text-container4{
    background-color: aliceblue;



}